# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
dist/
.vite/
.cache/

# Env vars
.env
.env.*.local

# Editor settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
.DS_Store

# Optional logs
logs
*.log
